@charset "UTF-8";
/* CSS Document */
header{
	background-color: #7bd964;
	padding: 40px;
}

h1{
	font-size: 90px;
	color:white;

}
header img{
	border-radius: 150px;
}


/*<header>
	<img src="img/profile.jpg">
		<h1>Kamen Rider W</h1>
</header>*/

